In [1]:
import FinanceDataReader as fdr

### 증시 데이터 수집

#### 주식 데이터

In [2]:
KP_stock_list = fdr.StockListing("KOSPI") # 코스피 종목 목록
display(KP_stock_list)

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,박대현,http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
6,152100,KOSPI,ARIRANG 200,NaN,NaN,NaT,NaN,NaN,NaN,NaN
7,295820,KOSPI,ARIRANG 200동일가중,NaN,NaN,NaT,NaN,NaN,NaN,NaN
8,253150,KOSPI,ARIRANG 200선물레버리지,NaN,NaN,NaT,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
6855,069260,KOSPI,휴켐스,기타 화학제품 제조업,"화합물,화학제품 제조",2002-10-07,12월,신진용,http://www.huchems.com,서울특별시
6859,000540,KOSPI,흥국화재,보험업,손해보험,1974-12-05,12월,권중원,http://www.insurance.co.kr,서울특별시
6860,000547,KOSPI,흥국화재2우B,NaN,NaN,NaT,NaN,NaN,NaN,NaN
6861,000545,KOSPI,흥국화재우,NaN,NaN,NaT,NaN,NaN,NaN,NaN
6862,003280,KOSPI,흥아해운,해상 운송업,외항화물운송업(케미컬탱커),1976-06-29,12월,이환구,http://www.heung-a.com,서울특별시

In [3]:
sp_data = fdr.DataReader("005380", "2020-10-01", "2021-09-30")
display(sp_data)

              Open    High     Low   Close   Volume    Change
Date
2020-10-05  183000  187500  181500  187000  2732820  0.047619
2020-10-06  188000  188500  181500  182500  2143171 -0.024064
2020-10-07  180000  183500  178500  183000  1512423  0.002740
2020-10-08  185500  186000  180000  180500  1750474 -0.013661
2020-10-12  178000  181500  176000  180000  1655359 -0.002770
...            ...     ...     ...     ...      ...       ...
2021-09-24  209500  210500  206000  207000   413926 -0.007194
2021-09-27  205000  206000  203500  204000   584898 -0.014493
2021-09-28  204000  204000  200500  201500   719631 -0.012255
2021-09-29  197500  202000  197500  201500   934463  0.000000
2021-09-30  200000  201000  199000  200000   594666 -0.007444

[246 rows x 6 columns]

In [4]:
SP500_stock_list = fdr.StockListing("SP500")
display(SP500_stock_list)

C:\Users\Gilseung\anaconda3\lib\site-packages\FinanceDataReader\wikipedia\listing.py:13: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Symbol'] = df['Symbol'].str.replace('\.', '')

,Symbol,Name,Sector,Industry
0,MMM,3M,Industrials,Industrial Conglomerates
1,ABT,Abbott Laboratories,Health Care,Health Care Equipment
2,ABBV,AbbVie,Health Care,Pharmaceuticals
3,ABMD,Abiomed,Health Care,Health Care Equipment
4,ACN,Accenture,Information Technology,IT Consulting & Other Services
...,...,...,...,...
500,YUM,Yum! Brands,Consumer Discretionary,Restaurants
501,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments
502,ZBH,Zimmer Biomet,Health Care,Health Care Equipment
503,ZION,Zions Bancorp,Financials,Regional Banks
504,ZTS,Zoetis,Health Care,Pharmaceuticals

In [5]:
sp_data = fdr.DataReader("MMM", "2020-10-01", "2021-09-30")
display(sp_data)

             Close    Open    High     Low     Volume  Change
Date
2020-10-01  158.79  160.67  161.90  157.72  1990000.0 -0.0087
2020-10-02  160.36  156.47  161.94  156.25  1770000.0  0.0099
2020-10-05  162.75  162.25  163.50  161.76  1460000.0  0.0149
2020-10-06  162.23  163.44  165.70  161.83  2020000.0 -0.0032
2020-10-07  166.49  165.10  167.75  164.41  2160000.0  0.0263
...            ...     ...     ...     ...        ...     ...
2021-09-24  181.04  181.50  182.07  180.62  2080000.0 -0.0027
2021-09-27  181.79  180.83  183.16  180.81  2050000.0  0.0041
2021-09-28  180.05  181.82  182.85  179.77  2190000.0 -0.0096
2021-09-29  180.88  179.92  181.39  179.17  1670000.0  0.0046
2021-09-30  175.42  181.72  182.06  175.37  3200000.0 -0.0302

[252 rows x 6 columns]

#### 주요 지수 데이터

In [6]:
KP_idx_data = fdr.DataReader("KS11", "2010-01-01", "2020-12-31")
display(KP_idx_data)

              Close     Open     High      Low        Volume  Change
Date
2010-01-04  1696.14  1681.71  1696.14  1681.71  2.965500e+08  0.0079
2010-01-05  1690.62  1701.62  1702.39  1686.45  4.088500e+08 -0.0033
2010-01-06  1705.32  1697.88  1706.89  1696.10  4.260400e+08  0.0087
2010-01-07  1683.45  1702.92  1707.90  1683.45  4.624000e+08 -0.0128
2010-01-08  1695.26  1694.06  1695.26  1668.84  3.799500e+08  0.0070
...             ...      ...      ...      ...           ...     ...
2020-12-23  2759.82  2737.74  2769.08  2716.28  1.120000e+09  0.0096
2020-12-24  2806.86  2762.60  2812.16  2762.60  1.030000e+09  0.0170
2020-12-28  2808.60  2820.95  2834.59  2799.56  1.010000e+09  0.0006
2020-12-29  2820.51  2810.55  2823.44  2792.06  1.050000e+09  0.0042
2020-12-30  2873.47  2820.36  2878.21  2809.35  1.070000e+09  0.0188

[2715 rows x 6 columns]

In [7]:
DJI_idx_data = fdr.DataReader("DJI", "2010-01-01", "2020-12-31")
display(DJI_idx_data)

               Close      Open      High       Low       Volume  Change
Date
2010-01-04  10583.96  10430.69  10604.97  10430.69  179780000.0  0.0150
2010-01-05  10572.02  10584.56  10584.56  10522.52  188540000.0 -0.0011
2010-01-06  10573.68  10564.72  10594.99  10546.55  186040000.0  0.0002
2010-01-07  10606.86  10571.11  10612.37  10505.21  217390000.0  0.0031
2010-01-08  10618.19  10606.40  10619.40  10554.33  172710000.0  0.0011
...              ...       ...       ...       ...          ...     ...
2020-12-24  30199.87  30155.92  30209.67  30099.30  146440000.0  0.0023
2020-12-28  30403.97  30283.23  30525.56  30283.23  303080000.0  0.0068
2020-12-29  30335.67  30492.07  30588.79  30274.24  358870000.0 -0.0022
2020-12-30  30409.56  30415.09  30525.35  30393.04  296140000.0  0.0024
2020-12-31  30606.48  30417.64  30637.47  30344.50  287060000.0  0.0065

[2769 rows x 6 columns]

### 기타 금융 데이터 수집

In [8]:
display(fdr.DataReader("CL", "2020-01-01", "2020-12-31")) # WTI유 선물

            Close   Open   High    Low     Volume  Change
Date
2020-01-02  68.12  68.84  68.94  67.89  3210000.0 -0.0105
2020-01-03  68.02  67.84  68.47  67.67  3470000.0 -0.0015
2020-01-06  68.49  68.08  68.85  68.01  4610000.0  0.0069
2020-01-07  67.55  68.46  68.46  67.47  4500000.0 -0.0137
2020-01-08  69.27  67.80  69.65  67.73  4680000.0  0.0255
...           ...    ...    ...    ...        ...     ...
2020-12-24  85.04  84.62  85.10  84.49   733190.0  0.0072
2020-12-28  85.41  85.28  85.68  84.98  1230000.0  0.0044
2020-12-29  85.03  85.83  86.21  84.92  2390000.0 -0.0044
2020-12-30  84.73  85.18  85.34  84.55  2160000.0 -0.0035
2020-12-31  85.51  84.96  85.60  84.53  1890000.0  0.0092

[253 rows x 6 columns]

In [9]:
display(fdr.DataReader("USD/KRW", "2020-01-01", "2020-12-31")) #달러/원 환율

              Close     Open     High      Low  Change
Date
2020-01-01  1154.02  1155.07  1155.32  1154.08 -0.0000
2020-01-02  1157.35  1155.02  1161.15  1153.48  0.0029
2020-01-03  1164.95  1157.94  1168.83  1155.70  0.0066
2020-01-06  1166.94  1165.89  1172.99  1165.78  0.0017
2020-01-07  1167.30  1167.54  1168.82  1163.11  0.0003
...             ...      ...      ...      ...     ...
2020-12-25  1099.07  1102.66  1102.81  1100.03 -0.0023
2020-12-28  1095.60  1100.08  1103.55  1093.51 -0.0032
2020-12-29  1090.97  1097.30  1098.57  1090.63 -0.0042
2020-12-30  1087.62  1091.97  1093.92  1084.52 -0.0031
2020-12-31  1084.47  1088.43  1090.35  1082.97 -0.0029

[262 rows x 5 columns]

In [10]:
display(fdr.DataReader("KR10YT=RR", "2020-01-01", "2020-12-31")) # 10년만기 한국 국채

            Close   Open   High    Low  Change
Date
2020-01-01  1.672  1.672  1.672  1.672  0.0000
2020-01-02  1.638  1.700  1.704  1.612 -0.0203
2020-01-03  1.552  1.632  1.635  1.552 -0.0525
2020-01-04  1.560  1.560  1.560  1.560  0.0052
2020-01-05  1.560  1.560  1.560  1.560  0.0000
...           ...    ...    ...    ...     ...
2020-12-27  1.692  1.692  1.692  1.692  0.0000
2020-12-28  1.681  1.686  1.690  1.671 -0.0065
2020-12-29  1.698  1.676  1.710  1.675  0.0101
2020-12-30  1.712  1.717  1.729  1.712  0.0082
2020-12-31  1.722  1.722  1.722  1.722  0.0058

[362 rows x 5 columns]